doctype 5
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.angularjs.org/1.2.0-rc.3/angular.min.js', type='text/javascript')
    script(src='/javascripts/script.js', type='text/javascript')
  body(ng-controller="Ctrl")
    block content